@using PersonelCoreMvc.Models
@model List<Personel>

@{
    ViewData["Title"] = "BolumDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> @ViewBag.blmttl</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>ŞEHİR</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Ad</td>
            <td>@x.Soyad</td>
            <td>@x.Sehir</td>
        </tr>
    }
</table>